.note {
  border-radius: var(--radius-sm);
  box-shadow: 0 0 2px var(--overlay);
  padding: var(--size-xxs) var(--size-lg) var(--size-lg);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--size-xxs);
}

.note h3 {
  color: var(--gray-400);
}

.note p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: var(--size-sm);
  color: var(--gray-400);
  height: 3.6rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--gray-300);
}

.note::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: var(--blue-100);
}
