.btn {
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.primary {
  color: var(--gray-300);
  border: 1px solid var(--gray-200);
  padding: var(--size-xxs) var(--size-sm);
  border-radius: var(--radius-md);
  font-size: var(--size-md);
  font-weight: normal;
}

.primary:hover,
.primary:active,
.primary.active {
  background-color: var(--blue-100);
  color: var(--white);
}

.secondary {
  background-color: var(--gray-300);
  color: var(--white);
  padding: var(--size-xxs) var(--size-sm);
  border: 1px solid var(--gray-300);
  border-radius: var(--radius-md);
  font-size: var(--size-md);
  font-weight: normal;
}

.secondary:hover,
.secondary:active {
  background-color: var(--gray-500);
  border-color: var(--gray-500);
}

.iconButton {
  padding: var(--size-xxs);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.iconButton:hover,
.iconButton:active {
  background-color: var(--gray-100);
}

.fullWidth {
  width: 100%;
}
